<div class="page-header text-center">
  <h1><%= @breed.name %></h1>
</div>

<p>
  <strong>Descrição:</strong>
  <p><%= @breed.description %></p>
</p>

<p>
  <strong>Caracteristicas:</strong>
  <ul>
    <% @breed.particulars.each do |particular| %>
      <li><%= particular.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Editar', edit_profile_game_breed_path(@game, @breed), class: 'btn btn-primary' %>
<%= link_to 'Voltar', [:profile, @game], class: 'btn btn-default' %>
