<div id="<%= attr_name %>-box" class="row">
  <span class="col-xs-3"><%= UserCharacter.human_attribute_name(attr_name) %>:
    <span id="<%= attr_name %>" data-value="<%= value %>"><%= value %></span></span>
    <div class="action-attr col-xs-3">
      <% unless @character.confirmed_attributes %>
        <button type="button" data-attr="#<%= attr_name %>" class="btn btn-default decrease">-</button>
        <button type="button" data-attr="#<%= attr_name %>" class="btn btn-default add">+</button>
      <% end %>
    </div>
</div>
<div class="divider"></div>
