<article>
<% if @character.nil? %>
  <header class="text-center page-header">
    <h1>Você ainda não possui um personagem nessa partida</h1>
  </header>
  <p>
    Por favor crie um
    <%= link_to "Novo personagem", match_character_new_path(@game), class: 'btn btn-primary' %>
  </p>
<% else %>
    <header class="text-center page-header clearfix">
      <h1><%= @character.name %></h1>
      <%= link_to 'editar', match_character_edit_path(@game), class: 'btn btn-primary pull-right' %>
    </header>
    <p>ID: <%= @character.id %></p>
    <p>Nivel: <%= @character.level %></p>

    história:
    <p><%= @character.history %></p>

    <p>raça: <%= @character.breed.name %></p>

    <p>classe: <%= @character.character.name %></p>


    <%= render 'attributes' %>
<% end %>
</article>
