<table class="table table-striped">
  <tbody>
    <tr>
      <th>For</th>
      <td><%= @character.str %></td>
      <th>Des</th>
      <td><%= @character.dex %></td>
      <th>Con</th>
      <td><%= @character.con %></td>
    </tr>
    <tr>
      <th>Int</th>
      <td><%= @character.int %></td>
      <th>Sab</th>
      <td><%= @character.wis %></td>
      <th>Car</th>
      <td><%= @character.cha %></td>
    </tr>
  </tbody>
</table>
