<div class="row">
  <div class="col-xs-4">
    <%= f.input :level %>
  </div>

  <div class="col-xs-4">
    <%= f.input :hp %>
  </div>

  <div class="col-xs-4">
    <%= f.input :mp %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <%= f.input :str %>
  </div>

  <div class="col-xs-4">
    <%= f.input :dex %>
  </div>

  <div class="col-xs-4">
    <%= f.input :con %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <%= f.input :int %>
  </div>

  <div class="col-xs-4">
    <%= f.input :wis %>
  </div>

  <div class="col-xs-4">
    <%= f.input :cha %>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <%= f.input :atk %>
  </div>

  <div class="col-xs-3">
    <%= f.input :magic_atk %>
  </div>

  <div class="col-xs-3">
    <%= f.input :def %>
  </div>

  <div class="col-xs-3">
    <%= f.input :magic_def %>
  </div>
</div>
