<table class="table table-striped">
  <tbody>
    <tr>
      <th>Nivel</th>
      <td><%= @character.level %></td>
      <th>Exp</th>
      <td><%= @character.exp %></td>
      <th>HP</th>
      <td><%= @character.hp %></td>
      <th>MP</th>
      <td><%= @character.mp %></td>
    </tr>
    <tr>
      <th>Ataque</th>
      <td><%= @character.atk %></td>
      <th>Ataque Mágico</th>
      <td><%= @character.magic_atk %></td>
      <th>Defesa</th>
      <td><%= @character.def %></td>
      <th>Defesa Mágica</th>
      <td><%= @character.magic_def %></td>
    </tr>
  </tbody>
</table>
