<%= simple_form_for [:match, @history, @map] do |f| %>
  <%= f.input :json_map, as: :hidden %>
  <%= f.input :name, autofocus: true %>

  <div class="row">
    <div class="col-xs-6">
      <%= f.input :rows %>
    </div>

    <div class="col-xs-6">
      <%= f.input :columns %>
    </div>
  </div>

  <div id="new-components">
    <div class="form-group">
      <label for="component_name">Nome do Componente</label>
      <input type="text" name="component_name" class="form-control" id="component_name">
    </div>
    <div class="form-group">
      <label for="component_color">Cor do Componente</label>
      <input type="text" name="component_color" class="minicolors" id="component_color">
    </div>

    <button type="button" name="add_component" class="btn btn-default">Adicionar componente</button>
  </div>

  <div id="components" data-component=""></div>
  <div id="active-component"></div>
  <div class="divider"></div>
  <%= f.submit class: 'btn btn-primary' %>
  <%= link_to "Voltar", :back, class: "btn btn-default" %>
<% end %>
