<div class="page-header text-center">
  <h1><%= @item.name %></h1>
</div>

<p>
  <strong>Descrição:</strong>
  <p><%= @item.description %></p>
</p>

<p>
  <strong>Efeito:</strong>
  <p><%= @item.effect.name %></p>
</p>

<%= link_to 'Editar', edit_profile_game_item_path(@game, @item), class: "btn btn-primary" %>
<%= link_to 'Voltar', profile_game_items_path(@game), class: "btn btn-default" %>
