<tr>
  <td><%= link_to map.name, [:profile, @history, map] %></td>
  <td><%= map.rows %>x<%= map.columns %></td>
  <td>
    <%= link_to 'Editar', edit_profile_history_map_path(@history, map), class: "btn btn-primary" %>
    <%= link_to 'Excluir', profile_history_map_path(@history, map),
                          class: "btn btn-danger",
                          method: :delete, data: { confirm: 'Tem certeza?' } %>
  </td>
</tr>
