<div class="page-header text-center">
  <h1><%= @character.name %></h1>
</div>

<p>
  <strong>Description:</strong>
  <p><%= @character.description %></p>
</p>

<p>
  <strong>Habilidades:</strong>
  <ul>
    <% @character.skills.each do |skill| %>
      <li><%= skill.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Raças:</strong>
  <ul>
    <% @character.breeds.each do |breed| %>
      <li><%= breed.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Editar', edit_profile_game_character_path(@game, @character), class: "btn btn-primary" %>
<%= link_to 'Voltar', [:profile, @game], class: "btn btn-default" %>
