<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "RPG", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        <%= li_active histories_path do %>
          <% link_to 'Histórias', histories_path %>
        <% end %>

        <% unless user_signed_in? %>

          <%= li_active new_user_session_path do %>
            <% link_to 'Login', new_user_session_path %>
          <% end %>

        <% else %>

          <%= li_active profile_root_path do %>
            <% link_to 'Perfil', profile_root_path %>
          <% end %>

          <%= li_active pictures_path do %>
            <% link_to('Imagens', pictures_path) %>
          <% end %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %>
               <span class="caret"></span>
             </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Editar Perfil', profile_edit_path %>
              </li>
              <li>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
